# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [3]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [5]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep='\t')

### Step 4. How many products cost more than $10.00?

In [8]:
#convert item_price to number
mk_flt = lambda x: float(x[1:])
chipo.item_price = chipo.item_price.apply(mk_flt)

In [13]:
chipo[chipo.item_price > 10].item_name.nunique() 
#31 - if we only look at unique item names
#but item_price is not the same for each item_name
chipo[chipo.item_price > 10].shape[0]
#1130 if we look at all products sold at more than $10

1130

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [12]:
print(chipo[['item_name','item_price']]) #an item doesn't always have the same price

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [14]:
chipo.sort_values(by='item_name')

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [22]:
chipo.sort_values(by='item_price',ascending=False)[['item_name','item_price']]
#alt
chipo.nlargest(columns = ['item_price'],n=1,keep='all')

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [24]:
chipo[chipo.item_name == 'Veggie Salad Bowl'].shape[0]

18

### Step 9. How many times did someone order more than one Canned Soda?

In [39]:
#Including canned soda, but not canned soft drink
chipo[(chipo.item_name == 'Canned Soda') & (chipo.quantity > 1)].shape[0]
#20, but that is really just when a canned soda has a quantity >1,
#.   which is not the same as potentially more than one canned soda on an order

chipo_soda = chipo[(chipo.item_name == 'Canned Soda')] 
chipo.groupby(['order_id']).agg({'quantity':'sum'})[chipo.quantity>1]
#97 orders have more than one canned soda on an order

/var/folders/dn/dr6y15951wq03xbh2xr9khq40000gn/T/ipykernel_57021/898491165.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  chipo.groupby(['order_id']).agg({'quantity':'sum'})[chipo.quantity>1]

          quantity
order_id
4                2
18               4
51               3
135              2
148              4
...            ...
1718             4
1753             3
1760             2
1824             3
1832             2

[97 rows x 1 columns]